
<!DOCTYPE html>
<html lang="en">

  <%- include('../partials/adminHead.ejs') %>
<body>
    <div id="app">
  <%- include('../partials/adminSideBar2.ejs') %>
        
        <div id="main">
            <header class="mb-3">
                <a href="#" class="burger-btn d-block d-xl-none">
                    <i class="bi bi-justify fs-3"></i>
                </a>
            </header>
            
<div class="page-heading">
    <h3>Coupons</h3>
</div>
<div class="d-flex justify-content-center">
<!-- Button trigger modal -->
<!-- <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
  Add category
</button> -->
<!-- <button id="btn" class="btn btn-primary" data-bs-toggle="dropdown"  >
  Add Coupon
</button>
  <div class="dropdown-menu" style="width: 400px;">
          <div class="form-group">
                <input value="" name="code" type="text"  class="form-control mx-auto" placeholder="Enter Coupon Code" style="max-width: 600px;"/>
                <input value="" name="value" type="number"  class="form-control mx-auto" placeholder="Enre offer value" style="max-width: 600px;"/>
                <p id="inputErr" class="text-danger"></p>
                <span  id="addBtn" class="btn btn-success mx-auto text-center"> Add </span>
          </div>
  </div> -->
  
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
  Add category
</button>
</div>
<!--  popup menu -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Add category</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
          <div class="form-group">
                <input value="" name="code" type="text"  class="form-control mx-auto" placeholder="Enter Coupon Code" style="max-width: 600px;"/>
                <input value="" name="value" type="number"  class="form-control mx-auto" placeholder="Enre offer value" style="max-width: 600px;"/>
                <p id="inputErr" class="text-danger"></p>
                <div class="text-center">
                <a id="addBtn" class="btn btn-primary mx-auto text-center" onclick="addCoupon()"> Add </a>
                </div>
          </div>
      </div>
      <div class="modal-footer" >
        <button onsubmit="addCategory()" type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
 <!-- poupu menu end -->
<!-- <div class="form-outline mb-4">
  <input type="search" class="form-control" id="search">
</div> -->
<div class="page-content">
  <section class="section">
        <div class="row" id="table-hover-row">
            <div class="col-6 mx-auto">
                <div class="card">
                    <!-- <div class="card-header">
                        <h4 class="card-title">Hoverable rows</h4>
                    </div> -->
                    <div class="card-content">
                        <!-- <div class="card-body">
                            <p>Add <code class="highlighter-rouge">.table-hover</code> to enable a hover state on table
                                rows
                                within a
                                <code class="highlighter-rouge">&lt;tbody&gt;</code>.
                            </p>
                        </div> -->
                        <!-- table hover -->
                        <div class="table-responsive d-flex justify-content-center">
                            <table class="table table-hover mb-0 ">
                                <thead>
                                  <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Coupon Code</th>
                                    <th scope="col">Offer</th>
                                    <th scope="col">Expires</th>
                                    <th scope="col"></th>
                                  </tr>
                                </thead>
                                <tbody id="tableBody">
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

        </div>
    </div>
    <!-- <script src="assets/js/bootstrap.js"></script> -->
    <script src="assets/js/app.js"></script>

<script>
     let navHilight= document.getElementById("coupon")
      navHilight.classList.add('active')
        // document.getElementById("search").style.display ='none'
getCoupons()
  function getCoupons() {
   fetch('/admin/coupon/get',{
    method:'GET',
   }) .then(data =>data.json())
   .then(data =>{
    let str =''
    for(val in data){
      str += `
      
        <tr>
          <th scope="row">${Number(val)+1}</th>
          <td>${data[val].code}</td>
          <td>${data[val].offer}  %</td>
          <td>${new Date( data[val].expireAt).toLocaleDateString()} ${new Date( data[val].expireAt).toLocaleTimeString()}</td>
          <td>
            <a class="btn btn-danger" onclick="remove('${data[val]._id}')" >Delete</a>
          </td>
        </tr>
      `
    }
    document.getElementById('tableBody').innerHTML= str
   })
  }

    // let category = document.getElementById("addCategory")
    // let addBtn = document.getElementById("addBtn")

const form = document.getElementById("addBtn");

function validate() {

}

function addCoupon() {
  console.log('hello')
    let code=  document.querySelector('input[name="code"]').value
    let value= document.querySelector('input[name="value"]').value
  
    console.log({code,value})
  fetch(`http://127.0.0.1:3000/admin/coupon/add?code=${code}&value=${value}`,)
  .then(response => response.json())
  .then(response =>{
    getCoupons()
    var myModalEl = document.getElementById('staticBackdrop');
    var modal = bootstrap.Modal.getInstance(myModalEl)
    modal.hide();
  })
  .catch(error => console.log(error))
}

function remove(id){
  console.log(id)
  fetch(`http://127.0.0.1:3000/admin/coupon/remove?id=${id}`,)
  .then(response => response.json())
  .then(response =>{
    getCoupons()
  })
}
    // function add() {
    //   fetch(`/admin/category/add?code=${category.value}`,{
    //     method:'get' 
    //   }).then(data=>data.json())
    //   .then(data=>{
    //    if(!data.inputErr){
    //        var myModalEl = document.getElementById('staticBackdrop');
    //        myModalEl.style.display = 'none';

    //    }else{
    //     document.getElementById('inputErr').innerHTML= 'Enter valied Text'
    //    }
    //     console.log(data)
    //   })
    // }  
    // function editOffer(category) {
    //   let offer = document.getElementById(category).value
    //   console.log({offer,category})
    //   fetch('/admin/category/editOffer',{
    //     method:'post',
    //     headers: { "Content-Type": "application/json" },
    //     body:JSON.stringify({
    //      categoryId:category,
    //      newOffer:offer 
    //     })
    //   })
    //   getCategories()
    // }
    </script>
</body>

</html>
