<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head.ejs') %>
<body style="height: 100vh;">
<section class="vh-100" >
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <div class="card shadow-2-strong" style="border-radius: 1rem;">
          <div class="card-body p-5 text-center">
            <h2 class="h1 mb-5">Edit Category</h2>
            <form action="/admin/category/edit/<%=id%>" method="post">
            <div class="form-outline mb-4">
                <input type="text" id="form2Example2" value="<%=name%>" class="form-control" name="name"/>
                <p class="text-danger"><%=Err%></p>
            </div>
            <button type="submit" class="btn btn-primary btn-block mb-4">Edit</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

</body>
</html>