<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/adminHead.ejs') %>
  <body>
    <div id="app">
      <%- include('../partials/adminSideBar2.ejs') %>

      <div id="main">
        <header class="mb-3">
          <a href="#" class="burger-btn d-block d-xl-none">
            <i class="bi bi-justify fs-3"></i>
          </a>
        </header>

        <div class="page-heading">
          <h3>Products</h3>
        </div>
        <div class="form-outline mb-4" hidden>
          <input type="search" class="form-control" id="search" />
        </div>
        <div class="page-content">
          <section class="section">
            <div class="row" id="table-hover-row">
              <div class="col-12 mx-auto">
                <div class="card-content">
                  <div  id="allOrders"></div>
                </div>
              </div>
            </div>
          </section>
        </div>

        
      </div>
    </div>
    <!-- <script src="assets/js/bootstrap.js"></script> -->
    <script src="assets/js/app.js"></script>

    <script>
      let navHilight = document.getElementById("orders");
      navHilight.classList.add("active");
      navHilight.classList.remove("link-dark");

      window.addEventListener("load", check);
      function check() {
        let inp = document.getElementById("search").value;
        fetch(`http://127.0.0.1:3000/admin/orders/check/${inp}`, {
          method: "GET",
        })
          .then(function (response) {
            return response.json();
          })
          .then((response) => {
            if (response.length != 0) {
              let orders = "";
              response.forEach((element, i) => {
                console.log(element.orders);
                let temp;
                element.orderdItems.forEach((val, h) => {
                  temp += `
                      <tr>
                        <td scope="row">${val.name}</td>
                        <td scope="row">${element.orders[h].price||val.price}</td>
                        <td scope="row">${element.orders[h].quantity}</td>
                        <td scope="row">${element.orders[h].price * element.orders[h].quantity||val.price * element.orders[h].quantity}</td>
                        <td scope="row">
                          <img src="/images/${val._id}.jpg" alt="${
                    val.name
                  }"  style="width:50px; height:50px;" /></td>
                      <!--  <td scope="row">
                          <a
                            onclick="removeOrder('${element._id}','${element.orderdItems[0]._id}')"
                            class="btn btn-danger "
                            >Cancel Order</a>
                        </td> -->
                              ${
                                (function() {
                                 if (element.orders[h].status=='cancelled') {
                                        return `<td scope="row"class='text-danger fw-bolder'>Canceled</td>`
                                 }else if(element.orders[h].status=='deleverd'){
                                        return `<td scope="row"class='text-success fw-bolder'>Deleverd</td>`
                                 }else if(element.orders[h].status=='shipped'){
                                        return `<td scope="row"class='text-success fw-bolder'>Shipped</td>`
                                 }else {
                                  return  `
                                  <td scope="row">
                                    <div class="dropdown">
                                      <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                                        Placed
                                      </button>
                                      <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                          <li><a class="dropdown-item" onclick="cancelOrder('${element._id}','${element.orderdItems[0]._id}')">Cancel</a></li>
                                          <li><a class="dropdown-item" onclick="deleverOrder('${element._id}','${element.orderdItems[0]._id}')">Deliverd</a></li>
                                          <li><a class="dropdown-item" onclick="shippedOrder('${element._id}','${element.orderdItems[0]._id}')">Shipped</a></li>
                                      </ul>
                                    </div>  
                                  </td>
                                      `
                                 } 
                                })()
                              }
                      </tr>
                `;
                });
                if (element.orders.length != 0) {
                  orders += `
              <div class="col-lg-12 grid-margin">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title">Name : ${element.users[0].name}</h4>
                  <h4 class="card-title">Address : ${element.address}</h4>
                  <h4 class="card-title">Payment Methd : ${element.payMethod}</h4>
                  <h4 class="card-title">Date : ${new Date(element.createdAt).toLocaleDateString()}</h4>
                  <h4 class="card-title">Total price : ${ element.totalPrice}</h4>
                    <table class="table table-hover mb-0 ">
                    <thead>
                      <tr>
                        <th scope="col">Product Name</th>
                        <th scope="col">Price</th>
                        <th scope="col">Quantyty</th>
                        <th scope="col">Total Price</th>
                        <th scope="col">Image</th>
                        <th scope="col"></th>
                      </tr>
                    </thead>
                    <tbody id="tableBody">
                      ${temp}
                    </tbody>
                  </table>
                </div>
              </div>
            </div> 
                `;
                }
              });
              document.getElementById("allOrders").innerHTML = orders;
            } else {
              document.getElementById("allOrders").innerHTML = `
            <h3>There is no orders</h3>
            `;
            }
          });
      }

      function removeOrder(id, proId) {
        let confimDelete = confirm(`Are you sure want to remove this order`);
        if (confimDelete) {
          fetch(
            `http://127.0.0.1:3000/admin/orders/remove/?orderId=${id}&productId=${proId}`,
            {
              method: "GET",
            }
          )
            .then((response) => response.json())
            .then((response) => {
              console.log(response);
            });
        }
        check();
      }
      function cancelOrder(id,proId){
        fetch(`http://127.0.0.1:3000/admin/orders/cancel?orderId=${id}&productId=${proId}`)
        .then(data=>data.json())
        .then((response) => check())

      }
      function deleverOrder(id,proId){
        fetch(`http://127.0.0.1:3000/admin/orders/deleverd?orderId=${id}&productId=${proId}`)
        .then(data=>data.json())
        .then((response) => check())
      }
      function shippedOrder(id,proId){
        fetch(`http://127.0.0.1:3000/admin/orders/shipped?orderId=${id}&productId=${proId}`)
        .then(data=>data.json())
        .then((response) => check())
      }
    </script>
  </body>
</html>
