
<!DOCTYPE html>
<html lang="en">

  <%- include('../partials/adminHead.ejs') %>
<body>
    <div id="app">
  <%- include('../partials/adminSideBar2.ejs') %>
        
        <div id="main">
            <header class="mb-3">
                <a href="#" class="burger-btn d-block d-xl-none">
                    <i class="bi bi-justify fs-3"></i>
                </a>
            </header>
            
<div class="page-heading">
    <h3>Products</h3>
</div>
<div class="d-flex justify-content-center">
  <a
   href="http://127.0.0.1:3000/admin/productManagement/addProduct"
   class="btn btn-success mb-2 text-center"
   >Add product</a>
</div>
<div class="form-outline mb-4">
  <input onkeyup="check()" type="search" class="form-control" id="search">
  <!-- <label class="form-label" for="datatable-search-input">Search</label> -->
</div>
<div class="page-content">
  <section class="section">
        <div class="row" id="table-hover-row">
            <div class="col-12">
                <div class="card">
                    <!-- <div class="card-header">
                        <h4 class="card-title">Hoverable rows</h4>
                    </div> -->
                    <div class="card-content">
                        <!-- <div class="card-body">
                            <p>Add <code class="highlighter-rouge">.table-hover</code> to enable a hover state on table
                                rows
                                within a
                                <code class="highlighter-rouge">&lt;tbody&gt;</code>.
                            </p>
                        </div> -->
                        <!-- table hover -->
                        <div class="table-responsive">
                            <table class="table table-hover mb-0">
                                <thead>
                                    <tr>
                                        <th>Num</th>
                                        <th>Product Name</th>
                                        <th>Price</th>
                                        <th>category</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody id="tableBody">
                                    <tr>
                                        <td class="text-bold-500">Michael Right</td>
                                        <td>$15/hr</td>
                                        <td class="text-bold-500">UI/UX</td>
                                        <td>Remote</td>
                                        <td>Austin,Taxes</td>
                                        <td><a href="#"><i
                                                    class="badge-circle badge-circle-light-secondary font-medium-1"
                                                    data-feather="mail"></i></a></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

            
        </div>
    </div>
    <!-- <script src="assets/js/bootstrap.js"></script> -->
    <script src="assets/js/app.js"></script>
    

<script>

     let navHilight= document.getElementById("productManagement")
      navHilight.classList.add('active')
      navHilight.classList.remove('link-dark')


      window.addEventListener("load", check);
      function check() {
        let inp = document.getElementById("search").value;
        console.log(inp)
        fetch(`http://127.0.0.1:3000/admin/productManagement/check/${inp}`, {
          method: "GET",
        })
          .then(function (response) {
            return response.json();
          })
          .then((response) => {
            return response;
          })
          .then((response) => {
            var temp = "";
            if (response.length != 0) {
              // document.getElementById(tableBody).innerHTML =''
              response.forEach((element, i) => {
                temp += ` <tr>
            <td > ${i + 1}</td>
            <td> ${element.name}</td>
            <td> ${element.price}</td>
            <td> ${element.category} </td>
            <td><img src="/images/${element._id}.jpg" alt="${
                  element.name
                }"  style="width:100px; height:100px;" /></td>
          
            <td class="text-end">
              
              <a
                href="http://127.0.0.1:3000/admin/productManagement/editProduct/${element._id}"
                class="btn btn-success "
                >Edit</a
              >
              <a
                onclick="deleteUser('${element._id}')"
                class="btn btn-danger "
                >Delete</a
              >
            </td>
          </tr>`;
              });
            } else {
              temp = "";
            }
            document.getElementById("tableBody").innerHTML = temp;
          });
      }

      function deleteUser(name) {
        console.log(name);
        let confimDelete = confirm(`Are you sure you want to delete ${name}`);
        if (confimDelete) {
          fetch(
            `http://127.0.0.1:3000/admin/productManagement/delete/${name}`,
            {
              method: "GET",
            }
          );
        }
        check();
      }
    </script>
</body>

</html>
