
<!DOCTYPE html>
<html lang="en">

  <%- include('../partials/adminHead.ejs') %>
<body>
    <div id="app">
  <%- include('../partials/adminSideBar2.ejs') %>
        
        <div id="main">
            <header class="mb-3">
                <a href="" class="burger-btn d-block d-xl-none">
                    <i class="bi bi-justify fs-3"></i>
                </a>
            </header>
            
<div class="page-heading">
    <h3>Users</h3>
</div>
<div class="form-outline mb-4">
  <input onkeyup="check()" onkeydown="check()" type="search" class="form-control" id="search">
  <!-- <label class="form-label" for="datatable-search-input">Search</label> -->
</div>
<div class="page-content">
  <section class="section">
        <div class="row" id="table-hover-row">
            <div class="col-12">
                <div class="card">
                    <!-- <div class="card-header">
                        <h4 class="card-title">Hoverable rows</h4>
                    </div> -->
                    <div class="card-content">
                        <!-- <div class="card-body">
                            <p>Add <code class="highlighter-rouge">.table-hover</code> to enable a hover state on table
                                rows
                                within a
                                <code class="highlighter-rouge">&lt;tbody&gt;</code>.
                            </p>
                        </div> -->
                        <!-- table hover -->
                        <div class="table-responsive">
                            <table class="table table-hover mb-0">
                                <thead>
                                    <tr>
                                        <th>Num</th>
                                        <th>Name</th>
                                        <th>Mobile Number</th>
                                        <th>Email</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody id="tableBody">
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

            
        </div>
    </div>
    <!-- <script src="assets/js/bootstrap.js"></script> -->
    <script src="assets/js/app.js"></script>
    

<script>
     let navHilight= document.getElementById("userManagement")
      navHilight.classList.add('active')

      // search.addEventListener("keyup", check)
      check()
      function check() {
        let inp = document.getElementById("search").value;
        fetch(`/admin/check/${inp}`, {
          method: "GET",
        })
          .then(function (response) {
            return response.json();
          })
          .then((response) => {
            return response
          }).then((response) => {
          var temp = "";
        if (response.length != 0) {
            // document.getElementById(tableBody).innerHTML =''
          response.forEach((element,i) => {
            let banState=''
            if (element.blockOrNot) {
              banState=` <a
                onclick="blockOrNot('${element._id}','${element.name}')"
                class="btn btn-primary"
                >Unblock</a
              >`  
            }else{
              banState=` <a
                onclick="blockOrNot('${element._id}','${element.name}')"
                class="btn btn-secondary"
                >Block</a
              >`  
            }
            temp += `
             <tr>
            <th scope="row"> ${i+1}</th>
            <td> ${element.name}</td>
            <td> ${element.number} </td>
            <td> ${element.email} </td>
            <td class="text-end">
              
              <!--
              <a
                href="/admin/edit/${element._id}"
                class="btn btn-success"
                >Edit</a
              >
                -->

                ${banState}
              <a
                onclick="deleteUser('${element._id}','${element.name}')"
                class="btn btn-danger "
                >Delete</a
              >
            </td>
          </tr>`
            
          });
        }else{temp =''}
          document.getElementById('tableBody').innerHTML = temp;
          })

      }

      function blockOrNot(id,name) {
       let confimBan = confirm(`Are you sure you want to ban or unban ${name}`) 
       if (confimBan) {
        fetch(`/admin/banOrNot/${id}`, {
          method: "GET",
        }).then(data=>{
          check()
        })       }
      }

      function deleteUser(id,name) {
        console.log(id);
        console.log(name);
       let confimDelete = confirm(`Are you sure you want to delete ${name}`) 
       console.log(confimDelete);
       if (confimDelete) {
        fetch(`/admin/delete/${id}`, {
          method: "GET",
        })
       }
       check()
      }
          </script>
</body>

</html>
