<div class="mx-auto" style="max-width: 900px ;" >
<nav class="navbar navbar-expand-lg bg-light" >
  <div class="container-fluid">
    <a class="navbar-brand" href="/admin">smartCart</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <form class="d-flex" role="search" id="searchForm">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" id="search" onkeyup="check()" onkeydown="check()">
        <!-- <button class="btn btn-outline-success" type="submit"><i class="fa-solid fa-magnifying-glass"></i></button> -->
      </form>
      <ul class="navbar-nav  mb-2 mb-lg-0 ms-auto">

        <li class="nav-item dropdown">
          <a id="login" class="nav-link dropdown-toggle" href="" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item text-danger" href="/admin/logout">Logout</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <!-- <a class="nav-link active text-danger" href="#"><i class="fa fa-shopping-cart" aria-hidden="true"></i></a> -->
        </li>
      </ul>

    </div>
  </div>
</nav>
</div>


<script defer>
  let loginStatus = document.getElementById("login")

  if ("<%=admin%>") {
  loginStatus.innerHTML = "<%=admin%>"
  }
</script>
