<div
      class="d-flex flex-column vh-90 flex-shrink-0 p-3 text-white bg-dark mt-2"
      style=" width: 250px"
    >
      <a
        href="/"
        class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none"
      >
        <svg class="bi me-2" width="40" height="32"></svg>
        <span class="fs-4">SmartCart</span>
      </a>
      <hr />
      <ul class="nav nav-pills flex-column mb-auto">
        <li >
          <a id="detail" href="/profile/view" class="nav-link text-white" aria-current="page">
            <i class="fa fa-user"></i><span class="ms-2">User Detail</span>
          </a>
        </li>
        <li>
            <a id="orders" href="/profile/viwOrders" class="nav-link text-white">
                <i class="fa fa-shopping-cart"></i><span class="ms-2">My Orders</span>
            </a>
        </li>
        <li>
            <a id="vallet" href="/profile/vallet" class="nav-link text-white">
                <i class="fa fa-wallet"></i><span class="ms-2">Valet</span>
            </a>
        </li>
      </ul>
      <hr />
    </div>