<!-- <style>
body {
  background-color: #fbfbfb;
}
 </style> -->
<header class="header mb-5">
  <!--
      *** TOPBAR ***
      _________________________________________________________
      -->
  <div id="top">
    <div class="container">
      <div class="row">
        <!-- <div class="col-lg-6 offer mb-3 mb-lg-0"><a href="#" class="btn btn-success btn-sm">Offer of the day</a><a href="#" class="ml-1">Get flat 35% off on orders over $50!</a></div> -->
        <div class="col-lg-6 offer mb-3 mb-lg-0"></div>
        <div class="col-lg-6 text-center text-lg-right">
          <ul id="loginStatus" class="menu list-inline mb-0">
            <li class="list-inline-item "><a href="/admin">Admin</a></li>
			<!-- data came from fetch -->
          </ul>

        </div>
      </div>
    </div>
    <div
      id="login-modal"
      tabindex="-1"
      role="dialog"
      aria-labelledby="Login"
      aria-hidden="true"
      class="modal fade"
    >
      <div class="modal-dialog modal-sm">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Customer login</h5>
            <button
              type="button"
              data-dismiss="modal"
              aria-label="Close"
              class="close"
            >
              <span aria-hidden="true">×</span>
            </button>
          </div>
          <div class="modal-body">
            <form action="/loginNumber" method="post">
              <div class="form-group">
                <input
                  id="email-modal"
                  name="email"
                  type="text"
                  placeholder="email"
                  class="form-control"
                />
              </div>
              <div class="form-group">
                <input
                  name="password"
                  id="password-modal"
                  type="password"
                  placeholder="password"
                  class="form-control"
                />
              </div>
              <p class="text-center">
                <button type="submit" class="btn btn-primary">
                  <i class="fa fa-sign-in"></i> Log in
                </button>
              </p>
            </form>
            <p class="text-center text-muted">Not registered yet?</p>
            <p class="text-center text-muted">
              <a href="register.html"><strong>Register now</strong></a
              >! It is easy and done in 1 minute and gives you access to special
              discounts and much more!
            </p>
          </div>
        </div>
      </div>
    </div>
    <!-- *** TOP BAR END ***-->
  </div>
  <nav class="navbar navbar-expand-lg">
    <div class="container">
      <a href="/" class="navbar-brand home ">
			SmartCart
		</a>
      <div class="navbar-buttons">
        <button
          type="button"
          data-toggle="collapse"
          data-target="#navigation"
          class="btn btn-outline-secondary navbar-toggler"
        >
          <span class="sr-only">Toggle navigation</span
          ><i class="fa fa-align-justify"></i>
        </button>
        <button
          type="button"
          data-toggle="collapse"
          data-target="#search"
          class="btn btn-outline-secondary navbar-toggler"
        >
          <span class="sr-only">Toggle search</span
          ><i class="fa fa-search"></i></button
        ><a href="/product/cart" class="btn btn-outline-secondary navbar-toggler"
          ><i class="fa fa-shopping-cart"></i
        ></a>
      </div>
      <div id="navigation" class="collapse navbar-collapse">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item"><a href="#" class="nav-link active">Home</a></li>
          <li class="nav-item dropdown menu-large">
            <a
              href=""
              data-toggle="dropdown"
              data-hover="dropdown"
              data-delay="200"
              class="dropdown-toggle nav-link"
              >Category</a
            >
            <ul class="dropdown-menu megamenu">
              <li>
                <div class="row">
                  <div class="col-md-6 col-lg-3">
                    <h5>Category</h5>
                    <ul class="list-unstyled mb-3" id="categoryList">
          			<%for(index in categories){ %>
                      <li class="nav-item">
						<a class="nav-link" href="/product/categoryView/<%=categories[index].name%>"><%=categories[index].name%></a>
                      </li>
              		<%}%>
                    </ul>
                  </div>
                </div>
              </li>
            </ul>
          </li>
        </ul>
        <div class="navbar-buttons d-flex justify-content-end">
          <!-- /.nav-collapse-->
          <div id="search-not-mobile" class="navbar-collapse collapse"></div>
          <a
            data-toggle="collapse"
            href="#search"
            class="btn navbar-btn btn-primary d-none d-lg-inline-block"
            ><span class="sr-only">Toggle search</span
            ><i class="fa fa-search"></i
          ></a>
          <div
            id="basket-overview"
            class="navbar-collapse collapse d-none d-lg-block"
          >
            <a href="/product/cart" class="btn btn-primary navbar-btn" id="cartNum"
              ><i class="fa fa-shopping-cart"></i
              >Cart</a
            >
          </div>
        </div>
      </div>
    </div>
  </nav>
  <div id="search" class="collapse">
    <div class="container">
      <form role="search" class="ml-auto">
        <div class="input-group">
          <input type="text" placeholder="Search" class="form-control" />
          <div class="input-group-append">
            <button type="button" class="btn btn-primary">
              <i class="fa fa-search"></i>
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
  <script defer>
	document.addEventListener('load',getValues())
	function getValues() {
    fetch(`http://127.0.0.1:3000/navHeadInfo`, {
        method: "GET",
     }).then(data=>  data.json())
	 .then(data=>{
		if (data.cart) {
			document.getElementById("cartNum")
			.innerHTML = `
			<i class="fa fa-shopping-cart"></i>
			<span >${data.cart}</span> items in cart`
		}
            if(!data.userName){
				document.getElementById('loginStatus').innerHTML =`
            <li class="list-inline-item h4"><a href="/admin">Admin</a></li>
				<li class="list-inline-item">
              <!-- <a  data-toggle="modal" data-target="#login-modal" -->
              <a class=' h4' href="/login">Login</a>
            </li>
            <li class="list-inline-item">
              <a class=" h4" href="/signup">Register</a>
            </li>`
            }else{
				document.getElementById('loginStatus').innerHTML =`
            <li class="list-inline-item h4"><a href="/admin">Admin Login</a></li>
				<!-- <li class="list-inline-item">
              <a><%= name %></a>
            </li> -->
            <li class="list-inline-item dropdown">
              <a type="button" class="dropdown-toggle h4" data-toggle="dropdown">
                <%= name %>
              </a>
              <div class="dropdown-menu">
                <a class="dropdown-item text-dark h4" href="/logout">Logout</a>
                <a class="dropdown-item text-dark h4" href="/profile/view">Profile</a>
              </div>
            </li>`
            }
	 })
	}


  </script>
</header>
