<!-- <div class="mx-auto" style="max-width: 900px"> -->
<!-- <div class="mx-auto container" > -->
  <nav class="container navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">smartCart</a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <form class="d-flex" role="search">
          <input
            class="form-control me-2"
            type="search"
            placeholder="Search"
            aria-label="Search"
          />
          <button class="btn btn-outline-success" type="submit">
            <i class="fa-solid fa-magnifying-glass"></i>
          </button>
        </form>
        <ul class="navbar-nav mb-2 mb-lg-0 ms-auto">
          <%if(!name){%>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/login"
              >Login</a
            >
          </li>
          <%}else{%>
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              role="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              <%= name %>
            </a>
            <ul class="dropdown-menu">
              <li>
                <a class="dropdown-item text-danger" href="logout">Logout</a>
              </li>
              <li><a class="dropdown-item" href="#">Profile</a></li>
            </ul>
          </li>
          <%}%>
          <li class="nav-item">
            <a class="nav-link active text-danger" href="#"
              ><i class="fa fa-shopping-cart" aria-hidden="true"></i
            ></a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
<!-- </div> -->
