
<!DOCTYPE html>
<html>
  <%- include('../partials/head.ejs') %>
  <body>
    <!-- nav bar -->
    <%- include('../partials/userNavBar.ejs') %>

<style>
/* hide increment decrement buttons input numbes */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
    </style>



<section class="h-100  container">
  <div id="main-div"class="py-5 row">
    
  </div>
</section>

<script defer>
getCartDetails()
function getCartDetails() {
  fetch('/product/getCartDetails').then(data=>data.json()) 
  .then(response=>{

    let {cart,qty,totalPrice,totalOfferPrice,categories,category} = response

    let temp
              for(itm in cart){
                
    temp += 
                    `
            <div class="row">
              <div class="col-lg-3 col-md-12 mb-4 mb-lg-0">
                <div class="bg-image hover-overlay hover-zoom ripple rounded" data-mdb-ripple-color="light">
                  <img src="/images/${cart[itm]._id}.jpg"
                    class="w-75" alt="product image"
                     />
                  <a href="">
                    <div class="mask" style="background-color: rgba(251, 251, 251, 0.2)"></div>
                  </a>
                </div>
              </div>

              <div class="col-lg-5 col-md-6 mb-4 mb-lg-0">
                <h4><strong>${cart[itm].name}</strong></h4>
                <p>category: ${cart[itm].category}</p>
                <a onclick="removeFromCart('${cart[itm]._id}')" type="button" class="btn btn-primary btn-sm me-1 mb-2" data-mdb-toggle="tooltip"
                  title="Remove item">
                  <i class="fa fa-trash"></i>
                </a>
                <!-- Data -->
              </div>

              <div class="col-lg-4 col-md-6 mb-4 mb-lg-0">
                <!-- Quantity -->
                <div class="d-flex mb-4" style="max-width: 300px">

                  <a  onclick="decrement('${cart[itm]._id}')"
                    onclick="return this.parentNode.querySelector('input[type=number]').value >= 2  "
                    >
                  <button class="btn btn-primary px-3 ms-2">
                    <i class="fa fa-minus"></i>
                  </button>
                </a>

                  <div class="form-outline">
                    <input id="form1" min="0" name="quantity" value="${qty[itm].quantity}" type="number" class="form-control mx-auto" style="max-width: 60px;" disabled/>
                    <label class="form-label" for="form1">Quantity</label>
                  </div>

                  <a onclick="increment('${cart[itm]._id}')">
                  <button class="btn btn-primary px-3 ms-2">
                    <i class="fa fa-plus"></i>
                  </button>
                </a>

                </div>

                <p class="text-start text-md-center">
                  <del>${cart[itm].price}</del>
                </p>
                <p class="text-start text-md-center">
                  <strong>${cart[itm].price - (cart[itm].price * category[cart[itm].category]/100) }</strong>
                </p>
                <!-- Price -->
              </div>
            </div>
            <!-- Single item -->

            <hr class="my-4" />

               `
                }
              
    document.getElementById('main-div').innerHTML =`
    <div  class="row d-flex justify-content-center my-4">
      <div class="col-md-8 ">
        <div class="card mb-4" id="cartItems">
          <div class="card-header py-3">
            <h5 class="mb-0">Cart - ${response.cart.length} items</h5>
          </div>
          <div class="card-body">
            <!-- Single item -->



          ${temp}



            
          <div class="box-footer d-flex justify-content-between flex-column flex-lg-row">
                    <div class="left"><a href="/" class="btn btn-outline-secondary"><i class="fa fa-chevron-left"></i> Continue shopping</a></div>
                    <div class="right">
                      <!-- <button class="btn btn-outline-secondary"><i class="fa fa-refresh"></i> Update cart</button> -->
                      <a href="/product/checkout?offerPrice=${totalOfferPrice}" class="btn btn-primary">Proceed to checkout <i class="fa fa-chevron-right"></i></a>
                    </div>
                  </div>
        </div>
          </div>
      </div>
      <div class="col-md-4">
              <div id="order-summary" class="box">
                <div class="box-header">
                  <h3 class="mb-0">Order summary</h3>
                </div>
                <p class="text-muted">Shipping and additional costs are calculated based on the values you have entered.</p>
                <div class="table-responsive">
                  <table class="table">
                    <tbody>
                      <tr>
                        <td>Order subtotal</td>
                        <th>&#8377; ${totalPrice}</th>
                      </tr>totalOfferPrice
                      <tr>
                        <td>Total offer applied Price</td>
                        <th>&#8377; ${totalOfferPrice}</th>
                      </tr>
                      <tr class="total">
                        <td>Total amount to Pay</td>
                        <th>&#8377; ${totalOfferPrice}</th>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
    </div>
    `

  if (cart.length==0) {
  document.getElementById('main-div').innerHTML =`
      <div class="card container mb-4">
           <h3 class="p-3 text-center"> Cart is Empty</h3>
      </div>
  `
   document.getElementById('order-summary').style.display = 'none';

   //from navbar ejs
    getValues()
  }
  })
}

  function increment(productId) {
    console.log(productId);
    fetch(`/product/cart/increment/${productId}`,{
      method: 'GET',
    }).then(data =>data.json())
    .then(data=> {
      getCartDetails()
    })
  }
  function decrement(productId) {
    console.log(productId);
    fetch(`/product/cart/decrement/${productId}`,{
      method: 'GET',
    }).then(data=> {
      getCartDetails()
    })
  }
  function removeFromCart(productId) {
    fetch(`/product/cart/delete/${productId}`,{
      method: 'GET',
    }).then(data=> {
      getCartDetails()
    })
  }
    
</script>
  <style>
   .gradient-custom {
/* fallback for old browsers */
background: #6a11cb;

/* Chrome 10-25, Safari 5.1-6 */
background: -webkit-linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1));

/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
background: linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1))
} 
  </style>  
  </body>