

<!DOCTYPE html>
<html>
  <%- include('../partials/head.ejs') %>
  <body>
    <!-- nav bar -->
    <%- include('../partials/userNavBar.ejs') %>

  <!-- <h1>Boston Red Sox Hat</h1>
  <h2>Buy For $2</h2>
  <form action="/product/paypal/createOrder" method="post">
    <input type="submit" value="Buy">
  </form> -->

    <div id="paypal" class="container"></div>
      <script src="https://www.paypal.com/sdk/js?client-id=<%= paypalClientId %>&currency=USD" data-namespace="paypal_sdk"></script>
    <script>
      paypal_sdk
  .Buttons({
    createOrder: function () {
      return fetch("/product/paypal/createOrder", {
        method: "POST",
        headers: {
          "Content-Type": "application/json",
        },
        body: JSON.stringify({
          items: [
            {
              id: 1,
              quantity: 2,
            },
            { id: 2, quantity: 3 },
          ],
        }),
      })
        .then(res => {
          if (res.ok) return res.json()
          return res.json().then(json => Promise.reject(json))
          console.log(res)
        })
        .then(({ id }) => {
          return id
        })
        .catch(e => {
          console.error(e.error)
        })
    },
    onApprove: function (data, actions) {
      return actions.order.capture()
    },
  })
  .render("#paypal")
    </script>
  </body>
</html>
